/*--------------------- fonts ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*--------------------- common styles ---------------------*/
body {
    margin: 0;
    cursor: auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.section-title {
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dance-section , 
.price-section , 
.statistic-section , 
.herbert-section ,
.subscribe-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.reg-button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 30px;
}
.button {
    background-color: #2e2e2e;
}

/*-------------------- header --------------------*/
header {
    color: white;
    background-color: #2e2e2e;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo img {
    width: 70%;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar li {
    margin-right: 20px;
    font-weight: 700;
}


/*--------------------- top banner ---------------------*/
.banner-container {
    background-image: url("../images/background-pic/header-bg.png"); 
    /* use ../ before image link because css is in different folder else background-image won't work */
   
    background-repeat: no-repeat;
}
.banner-text {
    width: 50%;
    height: 550px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 50px;
    padding-bottom: 50px;
}
.banner-text h1 {
    font-size: 4em;
    margin-bottom: 0;
    letter-spacing: 1px;
}


/*--------------------- dance tour ---------------------*/
.dance-section {
    text-align: center;
    color: white;
    background-color: orangered;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px; */
}
.dance-text {
    width: 50%;
    padding-bottom: 50px;
}
.dance-card-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 50px;
}
.dance-card {
    display: flex;
    flex-direction: column;
}
.dance-card-container img {
    width: 100%;
    height: 270px;
}
.dance-card-container h3 {
    margin-bottom: 0;
}
.dance-card-text {
    color: white;
    background-color: #2e2e2e;
    padding: 5px;
}


/*--------------------- pricing ---------------------*/
.price-section {
    text-align: center;
    color: white;
    background-image: url(../images/background-pic/plain-bg_02.png);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px; */
}
.pricing-text {
    width: 50%;
    padding-bottom: 50px;
}
.price-card-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 50px;
}
.price-card {
    background-color: orangered;
    border-radius: 5px;
    padding: 10px;
}
.price-card img {
    margin-top: 15px;
}
.price-card-text {
    color: white;
    background-color: orangered;
}
.price-button {
    font-size: 1.2em;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 8px 30px;
}

/*--------------------- amazing, best dance secrtion ---------------------*/
.blog-dance-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog-dance-section img {
    width: 100%;
    height: 100%;
}
.blog {
    color: white;
    background-color: orangered;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------- statistic section ---------------------*/
.statistic-section {
    /* text-align: center; */
    color: white;
    background-color: #2e2e2e;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px; */
}
.statistic-text {
    width: 50%;
    padding-bottom: 50px;
}
.statistic-card-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 50px;
}
.statistic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic-card h1 {
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0;
}
.statistic-card p {
    font-size: 1.5em;
    margin-top: 0;
}

/*--------------------- herbert section ---------------------*/
.herbert-section {
    height: 815px;
    /* text-align: center; */
    color: white;
    background-image: url(../images/background-pic/bottom-bg.png);
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    /* align-items: center;
    padding-top: 50px;
    padding-bottom: 100px; */
}
.herbert-text {
    width: 50%;
}
.herbert-text p {
    font-size: 1.5em;
}

/*--------------------- subscribe section ---------------------*/
.subscribe-section {
    color: white;
    background-image: url(../images/background-pic/plain-bg_03.png);
}
.subscribe-text {
    width: 50%;
    padding-bottom: 50px;
}
.subscribe-text input {
    width: 400px;
    font-size: 16px;
    border: 0;
    padding: 13px;
    margin-top: 20px;
}


/*--------------------- footer section ---------------------*/
.footer-container {
    color: white;
    background-color: #2e2e2e;
    padding: 60px 0px 60px 50px;
    display: grid;
    grid-template-columns: 50% repeat(3,1fr);
}
#footer-musicology {
    padding-right: 100px;
}
.social-media {
    display: flex;
    align-items: center;
}
.social-media img {
    width: 65x;
    height: 60px;
}
.footer-item p {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}