/*--------------------- fonts ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*--------------------- common styles ---------------------*/
body {
    margin: 0;
    cursor: auto;
    font-family: 'Poppins', sans-serif;
}



header {
    color: white;
    background-color: #2e2e2e;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo img {
    width: 70%;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar li {
    margin-right: 20px;
    font-weight: 700;
}


/*--------------------- top banner ---------------------*/
.banner-text {
    width: 50%;
}
.banner-text h1 {
    font-size: 3em;
    margin-bottom: 0;
}
.button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 5px 20px;
}